{% extends "base.html" %}

{% block content %}
<h1>Bases de datos:</h1>
<div>
<form>
{% for bbdd in bbdds %}
 
    <a href="/bbdd/{{ bbdd['dbname'] }}">test</a> 
    <button type="submit" name="id" value="{{ bbdd['dbname'] }}" formaction="/bbdd/ver"> Ver</button>
    <button type="submit" name="id" value="{{ bbdd['dbname'] }}" formaction="/bbdd/eliminar"> Eliminar</button>
    <button type="submit" name="id" value="{{ bbdd['dbname'] }}" formaction="/bbdd/modificar"> Modificar</button>

{% endfor %}
</div>
</form>
{% endblock %}